@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.about-page {
  section {
    padding-block: 12rem;

    > .inner {
      position: relative;
      margin-inline: auto;
      width: var(--section-width);

      .about-list {
        counter-reset: number 0;

        > li {
          --space: 10rem;
          display: grid;
          grid-template-columns: 1fr var(--space) 1fr;
          grid-template-rows: var(--space) 1fr var(--space);

          .content-wrapper {
            position: relative;
            border-radius: 1rem;
            padding-block: 8rem;
            background-color: var(--color-gray-200);

            &::before {
              counter-increment: number 1;
              content: "0" counter(number);
              position: absolute;
              top: 0;
              translate: 0 -50%;
              color: var(--primary-color);
              font-size: 8rem;
            }

            h2 {
              color: var(--primary-color);
              font-size: 3rem;
              font-weight: 500;
            }

            > p {
              margin-top: 3rem;
              font-size: 2rem;
              line-height: 1.8;
            }
          }

          figure {
            position: relative;
            z-index: 1;
            overflow: clip;
            border-radius: 1rem;
            width: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &:nth-of-type(odd) {
            .content-wrapper {
              grid-area: 2/1/4/3;
              padding-inline: var(--space) calc(var(--space) + (var(--space) / 2));

              &::before {
                left: 0;
              }
            }

            figure {
              grid-area: 1/2/3/4;
            }
          }

          &:nth-of-type(even) {
            .content-wrapper {
              grid-area: 1/2/3/4;
              padding-inline: calc(var(--space) + (var(--space) / 2)) var(--space);

              &::before {
                right: 0;
              }
            }

            figure {
              grid-area: 2/1/4/3;
            }
          }

          & + li {
            margin-top: 6rem;
          }
        }
      }
    }
  }
}

@include f.mq(sp) {
  .about-page {
    section {
      > .inner {
        .about-list {
          > li {
            display: revert;

            .content-wrapper {
              border-top-left-radius: 0;
              border-top-right-radius: 0;

              h2 {
                font-size: 3.6rem;
              }

              > p {
                font-size: 2.4rem;
              }
            }

            figure {
              z-index: 0;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              aspect-ratio: 4/3;
            }

            &:nth-of-type(odd) {
              .content-wrapper {
                padding-inline: var(--space);

                &::before {
                  left: 1rem;
                }
              }
            }

            &:nth-of-type(even) {
              .content-wrapper {
                padding-inline: var(--space);

                &::before {
                  left: 1rem;
                  right: revert;
                }
              }
            }
          }
        }
      }
    }
  }
}
