@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.archive-case-page {
  --padding-top: 8rem;

  .archive-case {
    > .inner {
      .module-card-list {
        margin-top: 4rem;
      }

      .is-empty {
        margin-top: 4rem;
        font-size: 2rem;
      }

      .module-card-list {
        > li {
          transition: opacity 0.6s ease-out, transform 0.6s ease-out;

          &.htmx-added {
            opacity: 0;
            transform: translateY(2rem);
          }

          &.htmx-settling {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@include f.mq(sp) {
}
