@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.front-page {
  main {
    .mv {
      position: relative;

      h1 {
        display: grid;
        row-gap: 2rem;
        position: absolute;
        left: 16rem;
        bottom: 10rem;
        z-index: 1;

        > span {
          display: block;
          padding-inline: 2rem;
          width: fit-content;
          font-size: 12rem;
          font-weight: 700;
          text-shadow: 2px 2px 8px #fff;
        }
      }

      .splide__slide {
        height: 100svh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    section {
      padding-block: 10rem;

      > .inner {
        position: relative;
        margin-inline: auto;
        width: var(--section-width);
      }

      .head {
        display: flex;
        justify-content: space-between;

        .left {
          hgroup {
            h2 {
              font-size: 2.4rem;
              font-weight: 600;
              color: var(--primary-color);
            }

            > p {
              font-size: 8rem;
              font-weight: 600;
              letter-spacing: 0.04em;
            }
          }

          > p {
            margin-top: 2rem;
            font-size: 1.8rem;
            line-height: 1.5;
          }
        }

        .right {
          align-self: flex-end;
        }
      }

      &.about {
        color: var(--text-color);

        > .inner {
          width: 80rem;

          h2 {
            text-align: center;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 2.2;
          }

          > a {
            margin-top: 4rem;
            margin-inline: auto;
          }
        }
      }

      &.service {
        color: var(--text-color);

        > .inner {
          .service-list {
            --column-width: 36rem;
            --column-count: 3;
            display: grid;
            grid-template-columns: repeat(var(--column-count), var(--column-width));
            gap: calc((100% - (var(--column-width) * var(--column-count))) / (var(--column-count) - 1));
            row-gap: 4rem;
            margin-top: 8rem;

            li {
              &:first-of-type {
                grid-area: 1/1/2/4;
              }

              a {
                display: block;
                position: relative;
                overflow: clip;
                border-radius: 1rem;
                width: 100%;

                &::before {
                  content: "";
                  position: absolute;
                  top: -44rem;
                  left: -34rem;
                  border-radius: 50%;
                  width: calc(var(--column-width) * 2);
                  aspect-ratio: 1;
                  background-color: var(--primary-color);
                  filter: blur(50px);
                }

                > p {
                  position: absolute;
                  color: #fff;
                  top: 3rem;
                  left: 3rem;
                  font-size: 2.2rem;
                  line-height: 1.5;
                }

                .icon-arrow {
                  display: grid;
                  place-items: center;
                  position: absolute;
                  bottom: 2rem;
                  right: 2rem;
                  border-radius: 50%;
                  border: 1.5px solid;
                  border-color: #fff;
                  width: 5.4rem;
                  aspect-ratio: 1;
                  transition: background-color 0.2s, border-color 0.2s;

                  &::after {
                    content: "";
                    display: block;
                    width: 2rem;
                    aspect-ratio: 23/13;
                    background-color: #fff;
                    mask: url(/assets/images/common/icon-arrow-right.svg) no-repeat center / contain;
                  }
                }

                &:hover {
                  @media (any-hover: hover) {
                    .icon-arrow {
                      border-color: var(--primary-color);
                      background-color: var(--primary-color);
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.company {
        color: var(--text-color);
      }

      &.contact {
        > .inner {
          .head {
            border-radius: 2rem;
            padding: 6rem;
            background-color: var(--bg-color-bright);
          }
        }
      }
    }
  }
}

@include f.mq(sp) {
  .front-page {
    main {
      .mv {
        h1 {
          top: 30%;
          left: 6rem;
          bottom: revert;

          > span {
            font-size: 6rem;
          }
        }
      }

      section {
        padding-block: 10rem;
        .head {
          flex-direction: column;
          row-gap: 4.8rem;

          .left {
            hgroup {
              h2 {
                font-size: 2.8rem;
              }

              > p {
                font-size: 10rem;
              }
            }

            > p {
              font-size: 2.2rem;
            }
          }
        }

        &.about {
          > .inner {
            width: 60rem;
          }
        }

        &.service {
          > .inner {
            .service-list {
              --column-width: 48%;
              --column-count: 2;

              li {
                &:first-of-type {
                  grid-area: revert;
                }

                a {
                  &::before {
                    width: calc(var(--column-width) * 4);
                  }

                  > p {
                    font-size: 2.6rem;
                  }

                  .icon-arrow {
                    width: 6rem;

                    &::after {
                      width: 2.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
