@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.not-found-page {
  .not-found {
    h2 {
      font-size: 2rem;
      line-height: 1.8;
    }

    .module-base-button {
      margin-inline: auto;
      margin-top: 6rem;
    }
  }
}

@include f.mq(sp) {
  .not-found-page {
    .not-found {
      h2 {
        font-size: 3.2rem;
      }
    }
  }
}
