@use "../../base/shortcut-functions" as f;
@use "./hover" as hover;

.module-base-button {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  font-size: 1.8rem;
  font-weight: 500;

  .icon {
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 3.2lh;
    aspect-ratio: 1;
    background-color: var(--color-primary);
    color: #fff;
    transition: scale 0.2s;

    &::after {
      content: "";
      display: block;
      width: 1lh;
      aspect-ratio: 1;
      background-color: currentColor;
      mask: url(/assets/images/common/icon-arrow-right.svg) no-repeat center / contain;
    }
  }

  .text {
    transition: translate 0.2s;
  }

  &:hover {
    @media (any-hover: hover) {
      .icon {
        scale: 1.2;
      }

      .text {
        translate: 10%;
      }
    }
  }

  @include f.mq(sp) {
    font-size: 3rem;
  }

  &.other-tab {
    .icon {
      &::after {
        mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center / contain;
      }
    }
  }
}

.module-other-tab-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 100vw;
  padding: 1.6rem 3.6rem;
  width: fit-content;
  background-color: #000;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;

  &::after {
    content: "";
    display: block;
    width: 0.8lh;
    aspect-ratio: 1;
    background-color: #fff;
    mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center / contain;
  }

  @include hover.hover-bg-opacity(#000);

  @include f.mq(sp) {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}

.module-contact-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 100vw;
  padding: 1.6rem 3.6rem;
  width: fit-content;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;

  &::after {
    content: "";
    display: block;
    width: 1lh;
    aspect-ratio: 4/3;
    background-color: #fff;
    mask: url(/assets/images/common/icon-contact.svg) no-repeat center / contain;
  }

  @include hover.hover-bg-opacity(var(--color-primary));

  @include f.mq(sp) {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}
