@use "../../base/shortcut-functions" as f;
@use "./hover" as hover;

.module-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  > li {
    display: grid;
    grid-template-rows: auto 1fr;

    a {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 2;
      gap: 1.4rem;
      border-radius: 1.4rem;
      padding: 2.6rem;
      background-color: #fff;

      figure {
        overflow: clip;
        border-radius: 2rem;
        aspect-ratio: 3 / 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: scale 0.3s;
        }
      }

      dl {
        dt {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem;
          font-size: 1.6rem;
          line-height: 1.6;

          .tag {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: clip;
            padding: 0.6rem 1.8rem;
            border-radius: 100svw;
            background-color: var(--color-primary);
            color: #fff;
            font-weight: 400;
          }

          time {
            font-weight: 600;
          }
        }

        dd {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: clip;
          margin-top: 1.2rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.6;
        }
      }

      &:hover {
        @media (any-hover: hover) {
          figure {
            img {
              scale: 1.2;
            }
          }
        }
      }
    }
  }

  @include f.mq(sp) {
    grid-template-columns: revert;
    gap: 6rem;

    > li {
      a {
        gap: 2rem;
        padding: 4rem;

        dl {
          dt {
            gap: 1.6rem;
            font-size: 2.4rem;
          }

          dd {
            font-size: 3.2rem;
          }
        }
      }
    }
  }
}
