@use "../../base/shortcut-functions" as f;
@use "./hover" as hover;

.module-category-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  li {
    a {
      display: grid;
      place-items: center;
      padding: 0.6rem 1.2rem;
      font-size: 2rem;
      font-weight: 500;

      &.current {
        border-bottom: 2px solid var(--color-primary);
      }

      @include hover.hover-opacity();
    }
  }
}

@include f.mq(sp) {
  .module-category-list {
    gap: 2rem 4rem;

    li {
      a {
        font-size: 3.2rem;
      }
    }
  }
}
