@mixin hover-underline($color: currentColor, $duration: 0.2s) {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: 0;
    height: 1px;
    background-color: $color;
    transition: width $duration ease;
  }

  &:hover {
    @media (any-hover: hover) {
      &::after {
        width: 100%;
      }
    }
  }
}

@mixin hover-bg-opacity($bg-color: currentColor, $opacity: 70%, $duration: 0.2s) {
  transition: background-color $duration ease;

  &:hover {
    @media (any-hover: hover) {
      background-color: color-mix(in srgb, $bg-color $opacity, transparent);
    }
  }
}

@mixin hover-opacity($opacity: 70%, $duration: 0.2s) {
  transition: opacity $duration ease;

  &:hover {
    @media (any-hover: hover) {
      opacity: $opacity;
    }
  }
}

@mixin hover-scale($scale: 1.2, $duration: 0.2s) {
  transition: scale $duration ease;

  &:hover {
    @media (any-hover: hover) {
      scale: $scale;
    }
  }
}
