/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!../assets/scss/styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

.module-base-button {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.8rem;
  font-weight: 500;
}
.module-base-button .icon {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 3.2lh;
  aspect-ratio: 1;
  background-color: var(--color-primary);
  color: #fff;
  transition: scale 0.2s;
}
.module-base-button .icon::after {
  content: "";
  display: block;
  width: 1lh;
  aspect-ratio: 1;
  background-color: currentColor;
  -webkit-mask: url(/assets/images/common/icon-arrow-right.svg) no-repeat center/contain;
          mask: url(/assets/images/common/icon-arrow-right.svg) no-repeat center/contain;
}
.module-base-button .text {
  transition: translate 0.2s;
}
@media (any-hover: hover) {
  .module-base-button:hover .icon {
    scale: 1.2;
  }
  .module-base-button:hover .text {
    translate: 10%;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .module-base-button {
    font-size: 3rem;
  }
}
.module-base-button.other-tab .icon::after {
  -webkit-mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
          mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
}

.module-other-tab-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 100vw;
  padding: 1.6rem 3.6rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}
.module-other-tab-button::after {
  content: "";
  display: block;
  width: 0.8lh;
  aspect-ratio: 1;
  background-color: #fff;
  -webkit-mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
          mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
}
@media (any-hover: hover) {
  .module-other-tab-button:hover {
    background-color: color-mix(in srgb, #000 70%, transparent);
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .module-other-tab-button {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}

.module-contact-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 100vw;
  padding: 1.6rem 3.6rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}
.module-contact-button::after {
  content: "";
  display: block;
  width: 1lh;
  aspect-ratio: 4/3;
  background-color: #fff;
  -webkit-mask: url(/assets/images/common/icon-contact.svg) no-repeat center/contain;
          mask: url(/assets/images/common/icon-contact.svg) no-repeat center/contain;
}
@media (any-hover: hover) {
  .module-contact-button:hover {
    background-color: color-mix(in srgb, var(--color-primary) 70%, transparent);
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .module-contact-button {
    padding: 2rem 6rem;
    font-size: 2.8rem;
  }
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]),
textarea {
  --padding-block: 1rem;
  --padding-inline: 1.6rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  padding: var(--padding-block) var(--padding-inline);
  width: 100%;
  font-size: 2.4rem;
  line-height: 1.5;
  background-color: #fff;
}

textarea {
  --min-rows: 8;
  box-sizing: border-box;
  width: 100%;
  min-block-size: calc(var(--min-rows) * 1lh + var(--padding-block) * 2);
  field-sizing: content;
}
@supports (field-sizing: content) {
  textarea {
    resize: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  input:not([type=radio]):not([type=checkbox]):not([type=submit]),
  textarea {
    --padding-block: 1.4rem;
    --padding-inline: 2rem;
    font-size: 3.2rem;
  }
  textarea {
    --min-rows: 10;
  }
}
.module-image-block {
  padding-block: 10rem;
}
.module-image-block > .inner {
  --image-block-width: 94svw;
  width: var(--image-block-width);
  border-top-right-radius: calc(var(--image-block-width) / 16);
  border-bottom-right-radius: calc(var(--image-block-width) / 16);
  overflow: clip;
}
.module-image-block > .inner figure {
  aspect-ratio: 25/9;
}
.module-image-block > .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.module-image-block.right > .inner {
  margin-left: auto;
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
  border-top-left-radius: calc(var(--image-block-width) / 16);
  border-bottom-left-radius: calc(var(--image-block-width) / 16);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .module-image-block > .inner {
    border-top-right-radius: calc(var(--image-block-width) / 5);
    border-bottom-right-radius: calc(var(--image-block-width) / 5);
  }
  .module-image-block > .inner figure {
    aspect-ratio: 17/13;
  }
  .module-image-block.right > .inner {
    margin-left: auto;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    border-top-left-radius: calc(var(--image-block-width) / 5);
    border-bottom-left-radius: calc(var(--image-block-width) / 5);
  }
}
:root {
  --font-noto-sans: "Noto Sans JP", sans-serif;
  --color-primary: #0553dd;
  --color-bg: #f6f6f6;
  --color-gray: #c2c2c2;
  --leading-trim: calc((1em - 1lh) / 2);
  --header-height: 10rem;
  --content-padding-inline: 4rem;
  --content-width: 120rem;
  --image-block-width: 94svw;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  :root {
    --header-height: 12rem;
    --content-width: 64rem;
  }
}

html {
  font-size: 62.5%;
  font-family: var(--font-noto-sans);
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  html {
    font-size: calc(1000vw / 768);
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  html {
    font-size: calc(1000vw / 1920);
  }
}

body {
  --clamp-viewport-min: 375;
  --clamp-viewport-max: 1200;
  --clamp-min: 14;
  --clamp-max: 16;
  background-color: var(--color-bg);
  overflow-x: clip;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

[id] {
  scroll-margin-top: var(--header-height);
}

@media (width <= 768px) {
  .pc {
    display: none !important;
  }
}

@media (width > 768px) {
  .sp {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

a[href*=tel] {
  pointer-events: none;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  a[href*=tel] {
    pointer-events: revert;
  }
}

.front-page .mv > .inner hgroup {
  margin-block: calc(var(--header-height) + 10rem) 10rem;
  margin-inline: auto;
  width: min(100% - var(--content-padding-inline), var(--content-width));
}
.front-page .mv > .inner hgroup h1 {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.12em;
}
.front-page .mv > .inner hgroup > p {
  margin-top: 2rem;
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.front-page .mv > .inner .splide {
  --image-block-width: 94svw;
  width: var(--image-block-width);
  border-top-right-radius: calc(var(--image-block-width) / 16);
  border-bottom-right-radius: calc(var(--image-block-width) / 16);
  overflow: clip;
}
.front-page .mv > .inner .splide__slide {
  aspect-ratio: 2/1;
}
.front-page .mv > .inner .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page section {
  position: relative;
  padding-block: var(--padding-top, 16rem) var(--padding-bottom, 16rem);
}
.front-page section > .inner {
  margin-inline: auto;
  width: min(100% - var(--content-padding-inline), var(--content-width));
}
.front-page section > .inner .intro h2 {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-primary);
  font-size: 4.6rem;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.front-page section > .inner .intro h2::after {
  content: "";
  display: block;
  margin-top: 2rem;
  width: 8rem;
  height: 0.2rem;
  background-color: color-mix(in srgb, currentColor 50%, transparent);
}
.front-page section > .inner .intro dl {
  margin-top: 4rem;
}
.front-page section > .inner .intro dl dt {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.04em;
}
.front-page section > .inner .intro dl dd {
  margin-top: 1.6rem;
  font-size: 2rem;
  line-height: 1.8;
}
.front-page section.company > .inner {
  display: grid;
  grid-template-columns: 1fr 48rem;
  gap: 8rem;
}
.front-page section.company > .inner .intro .module-base-button {
  margin-top: 4rem;
}
.front-page section.company > .inner figure {
  overflow: clip;
  border-radius: 2rem;
  aspect-ratio: 5/6;
}
.front-page section.company > .inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page section.service {
  background-color: #fff;
  border-top-right-radius: 10svw;
}
.front-page section.service > .inner .service-list {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.front-page section.service > .inner .service-list li figure {
  overflow: clip;
  border-radius: 2rem;
  aspect-ratio: 3/2;
}
.front-page section.service > .inner .service-list li figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page section.service > .inner .service-list li dl {
  margin-top: 1.6rem;
}
.front-page section.service > .inner .service-list li dl dt span {
  display: block;
}
.front-page section.service > .inner .service-list li dl dt span.en {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.front-page section.service > .inner .service-list li dl dt span.ja {
  margin-top: 0.8rem;
  font-size: 2.2rem;
}
.front-page section.service > .inner .service-list li dl dd {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.6;
}
.front-page section.service > .inner .module-base-button {
  margin-top: 4rem;
  margin-inline: auto 0;
}
.front-page section.case > .inner .case-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 6rem;
}
.front-page section.case > .inner .case-list > li {
  display: grid;
  grid-template-rows: auto 1fr;
}
.front-page section.case > .inner .case-list > li a {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 1.4rem;
  border-radius: 1.4rem;
  padding: 2.6rem;
  background-color: #fff;
}
.front-page section.case > .inner .case-list > li a figure {
  overflow: clip;
  border-radius: 2rem;
  aspect-ratio: 3/2;
}
.front-page section.case > .inner .case-list > li a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.3s;
}
.front-page section.case > .inner .case-list > li a dl dt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.front-page section.case > .inner .case-list > li a dl dt .tag {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: clip;
  padding: 0.6rem 1.8rem;
  border-radius: 100svw;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 400;
}
.front-page section.case > .inner .case-list > li a dl dt time {
  font-weight: 600;
}
.front-page section.case > .inner .case-list > li a dl dd {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: clip;
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}
@media (any-hover: hover) {
  .front-page section.case > .inner .case-list > li a:hover figure img {
    scale: 1.2;
  }
}
.front-page section.case > .inner .module-base-button {
  margin-top: 4rem;
  margin-inline: auto 0;
}
.front-page section.news {
  background-color: #fff;
  border-top-left-radius: 10svw;
}
.front-page section.news > .inner .content-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24rem;
}
.front-page section.news > .inner .content-wrapper .news-list li + li {
  margin-top: 4rem;
}
.front-page section.news > .inner .content-wrapper .news-list li a {
  display: block;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--color-gray);
  transition: opacity 0.2s ease;
}
.front-page section.news > .inner .content-wrapper .news-list li a dl dt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.front-page section.news > .inner .content-wrapper .news-list li a dl dt .tag {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: clip;
  padding: 0.6rem 1.8rem;
  border-radius: 100svw;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 400;
}
.front-page section.news > .inner .content-wrapper .news-list li a dl dt time {
  font-weight: 600;
}
.front-page section.news > .inner .content-wrapper .news-list li a dl dd {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: clip;
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}
@media (any-hover: hover) {
  .front-page section.news > .inner .content-wrapper .news-list li a:hover {
    opacity: 70%;
  }
}
.front-page section.news > .inner .module-base-button {
  margin-top: 4rem;
  margin-inline: auto 0;
}
.front-page section.career {
  --padding-bottom: 24rem;
}
.front-page section.career::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.front-page section.career::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border-top-right-radius: 10svw;
  width: 100%;
  height: 100%;
  background: url(/assets/images/front/career/bg.jpg) no-repeat center/cover;
  filter: brightness(0.6);
}
.front-page section.career > .inner .intro h2 {
  color: #fff;
}
.front-page section.career > .inner .intro dl {
  color: #fff;
}
.front-page section.career > .inner .module-base-button {
  margin-top: 4rem;
}
.front-page section.career > .inner .module-base-button .text {
  color: #fff;
}
.front-page .module-image-block {
  background: linear-gradient(to bottom, #fff 50%, var(--color-bg) 50%);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .front-page .mv > .inner hgroup h1 {
    font-size: 6rem;
  }
  .front-page .mv > .inner hgroup > p {
    font-size: 2.6rem;
  }
  .front-page .mv > .inner .splide {
    border-top-right-radius: calc(var(--image-block-width) / 5);
    border-bottom-right-radius: calc(var(--image-block-width) / 5);
  }
  .front-page .mv > .inner .splide__slide {
    aspect-ratio: 1;
  }
  .front-page section > .inner .intro h2 {
    font-size: 6.4rem;
  }
  .front-page section > .inner .intro h2::after {
    margin-top: 2.8rem;
    width: 10rem;
    height: 0.4rem;
  }
  .front-page section > .inner .intro dl {
    margin-top: 5.4rem;
  }
  .front-page section > .inner .intro dl dt {
    font-size: 5.2rem;
  }
  .front-page section > .inner .intro dl dd {
    margin-top: 2rem;
    font-size: 3.2rem;
  }
  .front-page section.company > .inner {
    grid-template-columns: revert;
    gap: 4rem;
  }
  .front-page section.company > .inner figure {
    aspect-ratio: 4/3;
  }
  .front-page section.service > .inner .service-list {
    grid-template-columns: revert;
    gap: 6rem;
  }
  .front-page section.service > .inner .service-list li dl {
    margin-top: 2.4rem;
  }
  .front-page section.service > .inner .service-list li dl dt span.en {
    font-size: 2.8rem;
  }
  .front-page section.service > .inner .service-list li dl dt span.ja {
    margin-top: 1.2rem;
    font-size: 4.4rem;
  }
  .front-page section.service > .inner .service-list li dl dd {
    margin-top: 1.6rem;
    font-size: 3.2rem;
  }
  .front-page section.case > .inner .case-list {
    grid-template-columns: revert;
    gap: 6rem;
  }
  .front-page section.case > .inner .case-list > li a {
    gap: 2rem;
    padding: 4rem;
  }
  .front-page section.case > .inner .case-list > li a dl dt {
    gap: 1.6rem;
    font-size: 2.4rem;
  }
  .front-page section.case > .inner .case-list > li a dl dd {
    font-size: 3.2rem;
  }
  .front-page section.news > .inner .content-wrapper {
    grid-template-columns: revert;
    gap: 6rem;
  }
  .front-page section.news > .inner .content-wrapper .news-list li a {
    padding-bottom: 3.2rem;
  }
  .front-page section.news > .inner .content-wrapper .news-list li a dl dt {
    font-size: 2.4rem;
  }
  .front-page section.news > .inner .content-wrapper .news-list li a dl dd {
    margin-top: 1.6rem;
    font-size: 3.2rem;
  }
}
.not-found-page main > .content-wrapper {
  margin-top: 6rem;
  margin-inline: auto;
  width: var(--content-width);
}
.not-found-page main > .content-wrapper .message {
  text-align: center;
  font-size: 2rem;
  line-height: 1.8;
}
.not-found-page main > .content-wrapper > a {
  margin-top: 4rem;
  margin-inline: auto;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .not-found-page main > .content-wrapper .message {
    font-size: 2.4rem;
  }
}
.site-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.site-header + * {
  margin-top: var(--header-height);
}
.site-header > .inner {
  display: flex;
  padding: 1.6rem 4rem;
  min-height: var(--header-height);
  background-color: color-mix(in srgb, var(--color-bg) 80%, transparent);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.site-header > .inner .logo {
  display: block;
  width: 24rem;
  aspect-ratio: 177/28;
}
.site-header > .inner .logo svg {
  width: 100%;
  height: 100%;
}
.site-header > .inner .global-nav {
  margin-left: auto;
}
.site-header > .inner .global-nav .navlist-wrapper {
  display: flex;
  align-items: center;
  gap: 5.4rem;
  height: 100%;
}
.site-header > .inner .global-nav .navlist {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.site-header > .inner .global-nav .navlist li.buttons {
  display: flex;
  gap: 2rem;
}
.site-header > .inner .global-nav .navlist li > a:not([class*=module-]) {
  position: relative;
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  transition: opacity 0.2s ease;
}
@media (any-hover: hover) {
  .site-header > .inner .global-nav .navlist li > a:not([class*=module-]):hover {
    opacity: 70%;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body .site-header > .inner {
    align-items: center;
  }
  body .site-header > .inner .logo {
    width: 28rem;
  }
  body .site-header > .inner .global-nav .drawer-toggle-button {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--color-primary);
    width: 8rem;
    aspect-ratio: 1;
  }
  body .site-header > .inner .global-nav .drawer-toggle-button .drawer-line {
    display: block;
    position: relative;
    left: 50%;
    translate: -50%;
    z-index: 1;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  body .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::before, body .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: rotate 0.3s;
  }
  body .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::before {
    top: -1.4rem;
  }
  body .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::after {
    top: 1.4rem;
  }
  body .site-header > .inner .global-nav .navlist-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    gap: 8rem;
    padding-block: 16rem;
    width: 90svw;
    height: 100svh;
    background-color: #fff;
    opacity: 0;
    transition-property: opacity, translate;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0.4, 0, 1);
  }
  body .site-header > .inner .global-nav .navlist {
    flex-direction: column;
    gap: 8rem;
  }
  body .site-header > .inner .global-nav .navlist li > a:not([class]) {
    font-size: 3.2rem;
  }
  body .site-header > .inner .global-nav .navlist li > a:not([class]).logo {
    width: 32rem;
  }
  body .site-header > .inner .global-nav .navlist li.buttons {
    align-items: center;
    flex-direction: column;
    gap: 8rem;
  }
  body.is-drawer-open {
    overflow: clip;
  }
  body.is-drawer-open .site-header > .inner .global-nav .drawer-toggle-button .drawer-line {
    background-color: transparent;
  }
  body.is-drawer-open .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::before, body.is-drawer-open .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::after {
    top: revert;
    inset: 0;
    margin: auto;
  }
  body.is-drawer-open .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::before {
    rotate: 45deg;
  }
  body.is-drawer-open .site-header > .inner .global-nav .drawer-toggle-button .drawer-line::after {
    rotate: -45deg;
  }
  body.is-drawer-open .site-header > .inner .global-nav .navlist-wrapper {
    opacity: 1;
    translate: -100%;
  }
}
.site-footer {
  position: sticky;
  top: 100vh;
  padding-block: 12rem;
  background-color: #000;
  color: #fff;
}
.site-footer > .inner {
  margin-inline: auto;
  width: var(--content-width);
}
.site-footer > .inner .content-wrapper {
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 20rem;
}
.site-footer > .inner .content-wrapper .left .logo {
  display: block;
  width: 30rem;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 177/28;
}
.site-footer > .inner .content-wrapper .left .logo svg {
  width: 100%;
  height: 100%;
}
.site-footer > .inner .content-wrapper .left .company-detail {
  margin-top: 4rem;
}
.site-footer > .inner .content-wrapper .left .company-detail > p {
  font-size: 2.2rem;
}
.site-footer > .inner .content-wrapper .left .company-detail address {
  margin-top: 1.4rem;
  font-size: 2rem;
  line-height: 1.6;
}
.site-footer > .inner .content-wrapper .right nav .navlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.site-footer > .inner .content-wrapper .right nav .navlist > li a {
  font-size: 2rem;
  transition: opacity 0.2s ease;
}
.site-footer > .inner .content-wrapper .right nav .navlist > li a.other-tab {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.site-footer > .inner .content-wrapper .right nav .navlist > li a.other-tab::after {
  content: "";
  display: block;
  width: 0.8lh;
  aspect-ratio: 1;
  background-color: #fff;
  -webkit-mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
          mask: url(/assets/images/common/icon-other-tab.svg) no-repeat center/contain;
}
@media (any-hover: hover) {
  .site-footer > .inner .content-wrapper .right nav .navlist > li a:hover {
    opacity: 70%;
  }
}
.site-footer > .inner .legal-wrapper {
  margin-top: 6rem;
  padding-top: 4rem;
  border-top: 1px solid currentColor;
  color: #888;
}
.site-footer > .inner .legal-wrapper .copy {
  font-size: 1.6rem;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .site-footer > .inner .content-wrapper {
    grid-template-columns: revert;
    gap: 8rem;
  }
  .site-footer > .inner .content-wrapper .left .logo {
    margin-inline: auto;
    width: 36rem;
  }
  .site-footer > .inner .content-wrapper .left .company-detail {
    margin-top: 4rem;
  }
  .site-footer > .inner .content-wrapper .left .company-detail > p {
    text-align: center;
    font-size: 3.2rem;
  }
  .site-footer > .inner .content-wrapper .left .company-detail address {
    margin-top: 1.4rem;
    text-align: center;
    font-size: 2.6rem;
  }
  .site-footer > .inner .content-wrapper .right nav .navlist {
    gap: 4rem 5.4rem;
  }
  .site-footer > .inner .content-wrapper .right nav .navlist > li a {
    font-size: 2.8rem;
  }
  .site-footer > .inner .legal-wrapper .copy {
    text-align: center;
    font-size: 2.2rem;
  }
}
.contact-induction {
  padding-block: 14rem;
  background-color: var(--color-primary);
  color: #fff;
}
.contact-induction > .inner {
  margin-inline: auto;
  width: min(100% - var(--content-padding-inline), var(--content-width));
}
.contact-induction > .inner .contact-induction-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-induction > .inner .contact-induction-list li {
  --padding-space: 6rem;
}
.contact-induction > .inner .contact-induction-list li dl dt {
  font-size: 2.4rem;
}
.contact-induction > .inner .contact-induction-list li dl dd {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.6;
}
.contact-induction > .inner .contact-induction-list li .module-base-button {
  margin-top: 4rem;
}
.contact-induction > .inner .contact-induction-list li .module-base-button .icon {
  background-color: #fff;
  color: var(--color-primary);
}
.contact-induction > .inner .contact-induction-list li:nth-of-type(odd) {
  padding-right: var(--padding-space);
}
.contact-induction > .inner .contact-induction-list li:nth-of-type(even) {
  border-left: 1px solid currentColor;
  padding-left: var(--padding-space);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .contact-induction > .inner .contact-induction-list {
    grid-template-columns: revert;
  }
  .contact-induction > .inner .contact-induction-list li {
    --padding-space: 6rem;
    padding-bottom: var(--padding-space);
  }
  .contact-induction > .inner .contact-induction-list li + li {
    border-top: 1px solid currentColor;
    padding-top: var(--padding-space);
  }
  .contact-induction > .inner .contact-induction-list li dl dt {
    font-size: 4rem;
  }
  .contact-induction > .inner .contact-induction-list li dl dd {
    font-size: 3.2rem;
  }
  .contact-induction > .inner .contact-induction-list li:nth-of-type(odd) {
    padding-right: initial;
  }
  .contact-induction > .inner .contact-induction-list li:nth-of-type(even) {
    border-left: initial;
    padding-left: initial;
  }
  .contact-induction > .inner .contact-induction-list li:last-of-type {
    padding-bottom: initial;
  }
}
.lower-header {
  padding-top: 6rem;
}
.lower-header > .inner {
  margin-inline: auto;
  width: min(100% - var(--content-padding-inline), var(--content-width));
}
.lower-header > .inner hgroup h1 {
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.06em;
}
.lower-header > .inner hgroup > p {
  margin-top: 1.2rem;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .lower-header > .inner hgroup h1 {
    font-size: 7.2rem;
  }
  .lower-header > .inner hgroup > p {
    font-size: 3.2rem;
  }
}

/*# sourceMappingURL=styles.css.map*/